<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test 1">
	  <groups>
		  <run>
			  <include name="Introduction"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
    
    </classes>
  </test> 
  <test thread-count="5" name="Test 2">
	  <groups>
		  <run>
			  <include name="linkedlist"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
  
   <test thread-count="5" name="Test 3">
	  <groups>
		  <run>
			  <include name="typesOfLinkedList"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
 
 <test thread-count="5" name="Test 4">
	  <groups>
		  <run>
			  <include name="ImplementLinkedList"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
  
   <test thread-count="5" name="Test 5">
	  <groups>
		  <run>
			  <include name="Traversal"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
  <test thread-count="5" name="Test 6">
	  <groups>
		  <run>
			  <include name="Insertion"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
  <test thread-count="5" name="Test 7">
	  <groups>
		  <run>
			  <include name="deletion"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
  <test thread-count="5" name="Test 8">
	  <groups>
		  <run>
			  <include name="practice"></include>
		  </run>
	  </groups>
    <classes>
      <class name="portal.LinkedList_TC"/>
     
    </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
